# Hugo
/public/
/resources/
.hugo_build.lock

# Node / JS
node_modules/
.npm

# OS / System
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Docker
docker-compose.override.yml

# Lighthouse / CI
results/
.lighthouseci/

# Env
.env
reports/