{{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
{{- $publisher := dict "@type" "Person" "name" site.Params.Author.name -}}
{{- $nodes := slice -}}
{{- if .IsHome -}}
  {{- $website := dict "@context" "https://schema.org" "@type" "WebSite" "@id" site.Home.Permalink
      "name" site.Title "url" site.Home.Permalink "publisher" $publisher -}}
  {{- with site.Params.description -}}{{- $website = merge $website (dict "description" .) -}}{{- end -}}
  {{- with site.Language.Locale -}}{{- $website = merge $website (dict "inLanguage" .) -}}{{- end -}}
  {{- with site.Params.keywords -}}{{- $website = merge $website (dict "keywords" .) -}}{{- end -}}
  {{- $person := dict "@context" "https://schema.org" "@type" "Person" "name" site.Params.Author.name
      "url" site.Home.Permalink -}}
  {{- with site.Params.Author.bio -}}{{- $person = merge $person (dict "description" .) -}}{{- end -}}
  {{- with site.Params.Author.image -}}{{- $person = merge $person (dict "image" (. | absURL)) -}}{{- end -}}
  {{- $sameAs := slice -}}
  {{- range site.Params.Author.links -}}
    {{- range . -}}{{- $sameAs = $sameAs | append . -}}{{- end -}}
  {{- end -}}
  {{- with $sameAs -}}{{- $person = merge $person (dict "sameAs" .) -}}{{- end -}}
  {{- $nodes = slice $website $person -}}
{{- else -}}
  {{- $schemaType := "Article" -}}
  {{- if in (slice "posts" "post" "portfolio") .Section -}}{{- $schemaType = "BlogPosting" -}}{{- end -}}
  {{- $article := dict "@context" "https://schema.org" "@type" $schemaType
      "name" .Title "headline" .Title "url" .Permalink "mainEntityOfPage" .Permalink
      "author" (merge $publisher (dict "url" site.Home.Permalink)) "publisher" $publisher
      "wordCount" .WordCount -}}
  {{- with site.GetPage .Section -}}{{- $article = merge $article (dict "articleSection" .Title) -}}{{- end -}}
  {{- with .Description -}}{{- $article = merge $article (dict "description" .) -}}{{- end -}}
  {{- with site.Language.Locale -}}{{- $article = merge $article (dict "inLanguage" .) -}}{{- end -}}
  {{- $image := "" -}}
  {{- with .Resources.GetMatch "featured*" -}}{{- $image = .Permalink -}}{{- end -}}
  {{- if not $image -}}
    {{- with .Params.images -}}{{- with index . 0 -}}{{- $image = . | absURL -}}{{- end -}}{{- end -}}
  {{- end -}}
  {{- with $image -}}{{- $article = merge $article (dict "image" .) -}}{{- end -}}
  {{- with .PublishDate -}}{{- $article = merge $article (dict "copyrightYear" (int (.Format "2006"))) -}}{{- end -}}
  {{- with .Date -}}{{- $article = merge $article (dict "dateCreated" (.Format $iso8601)) -}}{{- end -}}
  {{- with .PublishDate -}}{{- $article = merge $article (dict "datePublished" (.Format $iso8601)) -}}{{- end -}}
  {{- with .ExpiryDate -}}{{- $article = merge $article (dict "expires" (.Format $iso8601)) -}}{{- end -}}
  {{- with .Lastmod -}}{{- $article = merge $article (dict "dateModified" (.Format $iso8601)) -}}{{- end -}}
  {{- with .Keywords | default .Params.tags -}}{{- $article = merge $article (dict "keywords" .) -}}{{- end -}}
  {{- $nodes = slice $article -}}
  {{- if site.Params.enableStructuredBreadcrumbs | default false -}}
    {{- $items := slice -}}
    {{- range .Ancestors -}}
      {{- if not .IsHome -}}
        {{- $items = $items | append (dict "@type" "ListItem" "position" (add (len $items) 1)
            "name" .Title "item" .Permalink) -}}
      {{- end -}}
    {{- end -}}
    {{- $items = $items | append (dict "@type" "ListItem" "position" (add (len $items) 1)
        "name" .Title "item" .Permalink) -}}
    {{- $nodes = $nodes | append (dict "@context" "https://schema.org" "@type" "BreadcrumbList" "itemListElement" $items) -}}
  {{- end -}}
{{- end -}}
<script type="application/ld+json">{{ $nodes | jsonify | safeJS }}</script>
