{{ define "main" }}
<div role="main" class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="timeline">
                <h2><i class="fa fa-briefcase"></i>WORK HISTORY</h2>
                {{ range .Site.Data.Experiences.Experience }}
                <div class="event">
                    <span class="date">{{ .end }}</span>
                    <div class="row">
                        <h4><div class="col-sm-12">{{ .company }}</div></h4>
                    </div>
                    <div class="row">
                        <h5>
                        <div class="col-sm-7">{{ .title }}</div>
                        <div class="col-sm-5">{{ .location }}</div>
                        </h5>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 summary"><p>{{ .summary | safeHTML }}</p></div>
                    </div>
                </div>
                {{ end }}
            </div>
            <div class="timeline">
                <h2><i class="fa fa-graduation-cap"></i>EDUCATION HISTORY</h2> 
                {{ range .Site.Data.Education }}
                <div class="event">
                    <span class="date">{{ .end }}</span>
                    {{ range .degrees }}
                    <div class="row">
                        <h4><div class="col-sm-12">{{ .name }}, {{ .concentration }} <small>({{ .type }})</small></div></h4>
                    </div>
                    {{ end }}
                    <div class="row">
                        <h5>
                        <div class="col-sm-12">{{ .school }}</div>
                        </h5>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 summary"><p>{{ .description | safeHTML }}</p></div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
        <div class="col-md-6">
            <h2 class="section-title"><span><i class="fa fa-trophy"></i>AWARDS/HONORS</span></h2>
            <ul>
                {{ range .Site.Data.Accomplishments }}
                <li>{{ .title }} <span class="pull-right">{{ .date }}</span></li>
                {{ end }}
            </ul>
            <h2 class="section-title"><span><i class="fa fa-tachometer"></i>Skills</span></h2>
            <ul>
                {{ range .Site.Data.Skills }}
                <li>{{ .skill }}</li>
                {{ end }}
            </ul>
        </div>
    </div>
  </div>
{{ end }}
